/* @import permet d'importer une police depuis internet (ici depuis Google fonts */
@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');


body {
    margin:0 auto; 
    font-family:  "Segoe UI",Arial,sans-serif;
    color:grey;
}

#accueil {
    background-image: linear-gradient(white 60%,grey );
    background-size: cover;
    background-position: center;
}

.clear {
    clear:both;
}

#top-nav {
    display:none;
}

#side-nav {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:200px;
    background-color: black;
    display:none;
    border-right:1px solid white;
}


#side-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0;
    list-style: none;
}

#side-nav ul a {
    color:white;
    text-decoration: none;
}

#btn-plus {
    font-size:24px;
    position:fixed;
    bottom:20px;
    left:20px;
    cursor: pointer;
    color:black;
    background-color:white;
    padding:5px 10px;
    border-radius: 20px;
}

h1, h2  {
    margin-left:25px;
    font-family: 'Aldrich', sans-serif;
} 

#presentation {
    width: 90%;
    margin-left:25px;
}

#presentation img {
    float:left;
    width:150px;
    height: auto;
    margin-right: 20px;
}

#presentation p {
    width:100%;
}

#etapes {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#etapes a {
    width:40%;
    margin-bottom: 45px;
    /* max-height: 300px; */
    overflow:hidden;
    border:1px solid white;
    border-radius:5px;
}

#etapes img{
    width:100%;
    height:100%;
}

hr{
    width:80%;
    border-color:white;
}

footer {
    border-top:1px solid white;
    padding:15px;
    height: 40px;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    background-color:black;
}

footer a {
    text-decoration: none;
    color:white;
}


/* media querry pour modifier l'affichage quand la taille de l'écran dépasse 750px */
@media screen and (min-width:750px) {
    #top-nav {
        display:block;
        border-bottom:1px solid white;
        background-color: black;
    }
       
    #top-nav ul{
        display:flex;
        text-align: center;
        justify-content:center;
        margin: 0;
        padding: 20px 0px;  
    }
       
    #top-nav li {
        display:inline-block;
        width:100px;
        justify-content:space-between;
    }
       
    #top-nav li a {
        text-decoration: none;
        color:white;
    }

    #btn-plus {
        display:none;
    }
}